{% extends "base.html" %}

{% block title %} Cartel nuevo {% endblock %}

{% block content %}

{% load static %}
{% load tz %}
{% static "information.png" as informationimg %}
{% static "warning.png" as warningimg %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/signs/" />Carteles</a> > Nuevo Cartel </h1>
        </div>
    </div>

    <form action="." method="POST">
    {% csrf_token %}
        <table style="margin-top: 30px; margin-left: 30px; width: 700px;">
            <tr><td colspan="2" class="title" style="border-bottom: 1px #ccc solid;">&raquo; Nuevo cartel &laquo;</td></tr>
            <tr>
                <td class="label">
                    Nro. Cartel
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">{{ form.id }}
                    <span style="font-size: 10pt; color: #e44;">
                    Valores que no puede elegir:
                    {% for xNOID in noIDSAvaible %}
                        {{ xNOID }}{% ifnotequal forloop.last True %},{% endifnotequal %}
                    {% endfor %}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="label">
                    Ubicaci&oacute;n/Nombre
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.namecartel }} {% if form.nameCartel.errors %}<br />{{ form.namecartel.errors }}{% endif %}
                </td>
            </tr>
            <tr>
              <td colspan="2" colspan="2" style="text-align: center; width: 100%;" class="label">
                <div style="text-align: center; margin-top: 10px; padding: 10px;">
                  <button id="submitmessage" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Crear cartel</button>
                </div>

              </td>
            </tr>
        </table>

    </form>

{% endblock %}
