{% extends "base.html" %}
{% load tz %}
{% block title %} Tareas Globales {% endblock %}

{% block content %}

{% load static %}
{% static "warning.png" as warningimg %}
{% static "nored.png" as item_delete %}
{% static "trash.png" as item_deleteall %}
{% static "arrow_left.png" as item_add %}
{% static "arrow_left.png" as item_add %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/signs/" />Carteles</a> > Tareas globales</h1>
        </div>
    </div>

    <form name="addtask" action="." method="POST">
    {% csrf_token %}
    <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

        <tr style="text-align: center;">
          <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;" colspan="2">
                <span style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
                    Tareas globales
                </span>
            </td>
        </tr>
        <tr>
            <td class="label">
                Tarea
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              <select id="chrstask" name="chrstask" style="color: #aaa;font-size: 12pt;width: 100%;">
              {% if choicesTypesTasks %}
                {% for chrsTask_value, descTask_text in choicesTypesTasks.items %}
                  {% if chrsTask_value == 'm' %}
                    {% ifequal Messages_available True %}
                      <option value="{{ chrsTask_value }}">
                    {% endifequal %}
                  {% else %}
                  <option value="{{ chrsTask_value }}">
                  {% endif %}
                  {{ descTask_text }}
                  </option>

                {% endfor %}
              {% endif %}
              </select>
              <div id="cfgtask" style="display:none;" />
                <div id="cfgtask_broadcasting" style="display:none;" />
                  Mensaje Broadcasting: <br />
                  <input type="text" id="txtbroadcasting" name="txtbroadcasting" maxlength="{{ maxLengthText }}" style="width: 98%;"/>
                  <div id="broadcasting_chars" style="font-size: 8pt; color: #a66; margin-top: -5px; margin-bottom: -5px; margin-left: 10px;">
                      <span id="broadcasting_charsremaining"></span>
                  </div>
                  <span style="font-size: 8pt; color: #999;">
                    Ingrese solo may&uacute;scula, n&uacute;meros, y los caracteres . - °
                  </span>
                </div>
                {% ifequal Messages_available True %}
                <div id="cfgtask_messages" style="display:none;" />
                  Fuente de Mensajes:
                  <select id="sourcemessages" name="sourcemessages" style="color: #aaa;font-size: 12pt;width: 100%;">
                    <option value=""></option>
                    <option value="">----------------------------------- Carteles -----------------------------------</option>
                    {% if allCarteles %}
                      {% for sCartel in allCarteles %}
                      {% if sCartel.lastmessages %}
                        <option value="c{{ sCartel.id }}">{{ sCartel.id }} - {{ sCartel.namecartel }}</option>
                      {% endif %}
                      {% endfor %}
                    {% endif %}
                    {% ifequal Packages_available True %}
                    <option value="">----------------------------------- Paquetes -----------------------------------</option>
                    {% if allPackages %}
                      {% for sPackage in allPackages %}
                      <option value="p{{ sPackage.id }}">{{ sPackage.namepackage }}</option>
                      {% endfor %}
                    {% endif %}
                    {% endifequal %}
                  </select>
                </div>
                {% endifequal %}
              </div>
              <div id="mssgerror_action" />
              <font style="color: #e33;">
                {% if empty_broadcasting == True %}<i class="icon ion-alert" style="margin:5px 10px 5px 10px;"></i> No ha ingresado ningun texto para el broadcasting{% endif %}
                {% if empty_mssg == True %}<i class="icon ion-alert" style="margin:5px 10px 5px 10px;"></i> No ha seleccionado una fuente de mensajes{% endif %}
              </font>
            </div>
            </td>
        </tr>
        <tr>
          <td class="label">
            Carteles destino
          </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              <div id="mssgerror_signs" />
                <font style="color: #e33;">
                {% if empty_signs == True %}<i class="icon ion-alert" style="margin:5px 10px 5px 10px;"></i> No ha seleccionado ningun cartel a aplicar{% endif %}
                </font>
              </div>
              <div style="width:100%;">
                <div id="signcont" style="width: 100%; margin: 0 auto; padding-bottom:20px; height: 230px;">

                  <div id="signcont_mysigns" style="width: 49%; height: 200px; float: left; margin: auto;">
                      <span style="font-size: 8pt; text-decoration: underline; color: #666; text-align: center;">
                        Carteles destino:
                      </span>
                      <select id="mysigns" multiple="multiple" name="mysigns[]" style="color: #aaa;font-size: 8pt;height: 200px;width: 100%;" />
                      </select>
                      <div id="mysigns_action" style="display:none;">
                        <a href="javascript:;" style="color:white; padding:0px; margin: 0px;" id="mysigns_itemdelete"/>
                          <img src="{{ item_delete }}" width="16" height="16" align="right" />
                        </a>
                      </div>
                  </div>
                  <div style="right: 0px;" />
                    <span style="font-size: 8pt; text-decoration: underline; color: #666; text-align: center;">Todos los carteles:</span>
                    <span style="font-weight: bold; font-size: 10pt;">
                      <a href="javascript:;" style="text-decoration: none; padding:0px; margin: 0px;" id="addallcarteles"/><i class="icon ion-ios7-plus-outline" style="font-size: 12pt; font-weight: bold;"></i> Agregar todos</a>
                    </span>
                  </div>
                  <div id="signcont_allsigns" style="width: 49%; height: 200px; float:right; ">
                    <select id="allsigns" multiple="multiple" name="allsigns[]" style="color: #aaa;font-size: 8pt;height: 200px;width: 100%;" />
                    {% if allCarteles %}
                        {% for yCartel in allCarteles %}
                        <option value="{{ yCartel.id }}">
                        {{ yCartel.id}} - {{ yCartel.namecartel }}
                        </option>
                        {% endfor %}
                    {% endif %}
                    </select>
                    <div id="allsigns_action" style="display:none;">
                      <a href="javascript:;" style="padding:0px; margin: 0px;" id="addcartel"/>
                        <img src="{{ item_add }}" width="16" height="16" align="left" />
                      </a>
                    </div>
                  </div>
                  <div style="display:none;">
                    <input type="text" name="signstxt" id="signstxt" value=""/>
                  </div>
                </div>
              </div>
          </td>
      </tr>
      <tr>
          <td class="label" width="200">
              Fecha programada :
          </td>
          <td class="dataright" width="500"style="border-right: 1px #ccc solid; color: #333; font-size: 14pt;">
            <input type="datetime-local" name="txtprogdate" style="font-size: 10pt;" />
          </td>
      </tr>
      <tr>
          <td colspan="2" style="text-align: center; width: 100%;" class="label">
              <div style="margin-left: 5px; padding: 3px; line-height: 100%; width: 97%; font-size: 10pt; align:right; text-align: justify; text-indent: 20px; font-weight: normal;">
                <img src="{{ warningimg }}" width="32" height="32" align="left" style="margin: 10px;"/>
                <p style="margin-left: 60px;">
                  Las tareas permaneceran activas hasta que el cartel las complete. Si la tarea es programada, se activara a partir de la fecha establecida de programaci&oacute;n.
                </p>
              </div>
              <div style="text-align: center; margin-top: 10px; padding: 10px;">
                <button id="submitform" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Guardar cambios</button><br /><br />
              </div>
            </td>
      </tr>
    </table>
    </form>
    <div style="text-align: left; margin-top: 10px; padding: 10px;">
        <a href="/tasks/del/inc/"/><i class="icon ion-close-round"></i><span style="margin-left: 10px;">Borrar tareas</span></a><br /><br />
        <a href="/tasks/del/prg/"/><i class="icon ion-clock"></i><span style="margin-left: 10px;">Borrar tareas programadas</span></a><br /><br />
        <a href="/tasks/del/all/"/><i class="icon ion-alert-circled"></i><span style="margin-left: 10px;">Borrar todas las tareas</span></a><br /><br />
        <a href="/signs/"/><i class="icon ion-navicon-round"></i><span style="margin-left: 10px;">Volver a todos los Carteles</span></a>
    </div>
    <br /><br />
    <script>
  $(document).ready(function(){

    allCarteles = {};

    {% for xCartel in allCarteles %}
    allCarteles[ {{ xCartel.id }} ] = "{{ xCartel.id }} - {{ xCartel.namecartel }}";
    {% endfor %}

    $('#allsigns').click(function (event) {
      $("#allsigns_action").show();
    });

    function updatesigns(){
      var values = $.map($('#mysigns option'), function(e) { return e.value; });
      values.join(',');
      $("#signstxt").val(values);
      $("#mssgerror_signs").hide();
    };

    $("#broadcasting_charsremaining").text($("#txtbroadcasting").val().length+"/"+$("#txtbroadcasting").attr("maxlength")+" caracteres");

    $('#txtbroadcasting').keyup(function () {
        $("#broadcasting_charsremaining").text($(this).val().length+"/"+$(this).attr("maxlength")+" caracteres");
      });


    $("#txtbroadcasting").alphanum({
      allow: '{{ charsAvaible }}' + '-.',
      disallow: '¿¡?!´¨·',
      forceUpper: true,
    });

    // botones allcarteles
    // itemdelete
    $('#mysigns_itemdelete').click(function (event) {
        var selectedvals = $("#mysigns").val();
        $.each( selectedvals, function( k, v ) {
          $("#mysigns option:selected").remove();
          $("#allsigns").append('<option value="'+v+'">' + allCarteles[ v ] + '</option>');
        });
        $("#mysigns option:selected").removeAttr("selected");
        $("#mysigns_action").hide();
        updatesigns();
      });

      $('#mysigns_deleteall').click(function (event) {
        $("#mysigns").empty();
        $("#allsigns").empty();
        $.each( allCarteles, function( k, v ) {
          $("#allsigns").append('<option value="'+k+'">' + allCarteles[ k ] + '</option>');
        });
        updatesigns();
      });

      $('#mysigns').change(function () {
        $("#mysigns_action").show();
      });


      // botones allcarteles
      $('#addcartel').click(function (event) {
          var selectedvals = $("#allsigns").val();
          $.each( selectedvals, function( k, v ) {
            $("#mysigns").append('<option value="'+v+'">' + allCarteles[ v ] + '</option>');
            $("#allsigns option:selected").remove();
          });
          var values = $.map($('#mysigns option'), function(e) { return e.value; });
          $("#allsigns_action").hide();
          values.join(',');
          updatesigns();
        });

      $('#addallcarteles').click(function (event) {
          $("#mysigns").empty();
          $("#allsigns").empty();
          $.each( allCarteles, function( k, v ) {
            $("#mysigns").append('<option value="'+k+'">' + allCarteles[ k ] + '</option>');
          });
          updatesigns();
        });

      //add double
      $('#allsigns').dblclick(function (event) {
          $('#addcartel').click();
        });

      $('#mysigns').dblclick(function (event) {
        $('#mysigns_itemdelete').click();
      });

      $('#chrstask').click(function (){
        var acttask = $("#chrstask").val();
        $("#cfgtask").hide();
        $("#mssgerror_action").hide();
        if(acttask == "b1"){
          $("#cfgtask_brightness").hide();
          $("#cfgtask_messages").hide();
          $("#cfgtask").show();
          $("#cfgtask_broadcasting").show();
        }

        if(acttask == "m"){
          $("#cfgtask_brightness").hide();
          $("#cfgtask_broadcasting").hide();
          $("#cfgtask").show();
          $("#cfgtask_messages").show();
        }

        if(acttask == "l"){
          $("#cfgtask_broadcasting").hide();
          $("#cfgtask_messages").hide();
          $("#cfgtask").show();
          $("#cfgtask_brightness").show();
        }
      });

    });

</script>

{% endblock %}
