{% load static %}
{% static "yes.png" as yesimg %}
{% static "no.png" as noimg %}
<script>
    var colorelapsedtime = "#888888";
    {% for datediffdef, datediffvalue in xCartel.getElapsedTimeFromLastLogin.items|slice:":1"  %}
        {% ifequal datediffdef "h" %}
            {% ifnotequal datediffvalue 0 %}
                colorelapsedtime = "#ba5656";
            {% endifnotequal %}
        {% endifequal %}
        {% ifequal datediffdef "d" %}
            {% ifnotequal datediffvalue 0 %}
                colorelapsedtime = "#f51b1b";
            {% endifnotequal %}
        {% endifequal %}
    {% endfor %}
    document.getElementById("elapsedtimelogin{{ xCartel.id }}").style.color=colorelapsedtime;
    document.getElementById("taskstodo").style.height="100px";
</script>
<span id="elapsedtimelogin{{ xCartel.id }}" style="font-size: 8pt; color: #888888; font-weight: normal; vertical-align: middle;">
    &sim;
    {% for itemtime in "dhms" %}
        {% for datediffdef, datediffvalue in xCartel.getElapsedTimeFromLastLogin.items  %}
            {% ifequal datediffdef itemtime %}
                {% ifnotequal datediffvalue 0 %}
                    {{ datediffvalue }}{{ datediffdef }}
                {% endifnotequal %}
            {% endifequal %}
        {% endfor %}
    {% endfor %}
</span>
</p>
{% ifequal xCartel.taskstodo None %}
<div style="border: 1px #6c6 solid;width: 16px;margin:0 auto 0 auto;padding: 3px; height: 20px; margin-bottom:-10px;border-bottom:none;background-color: #99ff99;border-radius: 10px 10px 0px 0px;">
        <img src="{{ yesimg }}" width="16" height="16" valign="left" /><br />
{% else %}
<div style="border: 1px #c66 solid;width: 16px;margin:0 auto 0 auto;padding: 3px; height: 20px; margin-bottom:-10px;border-bottom:none; background-color: #ff9999;">
        <img src="{{ noimg }}" width="16" height="16" valign="left" /><br />
{% endifequal %}
</div>
