{% extends "base.html" %}
{% load static %}

{% block title %} Editando cartel {% endblock %}

{% block content %}
{% static "information.png" as informationimg %}
{% static "warning.png" as warningimg %}
{% static "save.png" as savebutton %}
{% static "arrow_down.png" as item_movedown %}
{% static "arrow_up.png" as item_moveup %}
{% static "nored.png" as item_delete %}
{% static "arrow_left.png" as item_add %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/signs/" />Carteles</a> > {{ xCartel.namecartel| truncatechars:32 }}</h1>
        </div>
    </div>
    <form id="editcartel" action="." method="POST">
    {% csrf_token %}
    {{ form.management_form }}
    {{ form_errors }}
    {{ form.id.as_hidden }}
        <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

            <tr style="text-align: center;">
                <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;;" colspan="2">
                    <span id="title_namecartel" style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
                        {{ xCartel.namecartel }}
                    </span>
                </td>
            </tr>

            <tr>
                <td class="label" width="200">
                    Nombre
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.namecartel }} {% if form.nameCartel.errors %}<br />{{ form.namecartel.errors }}{% endif %}
                </td>
            </tr>
            {% ifequal showBrightness True %}
            <tr>
                <td class="label">
                    <img src="{{ informationimg }}" width="24" height="24" align="left" />Brillo<br /><span class="aclaracion"> # Solo version C</span>
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.lastbrightness }}{% if form.lastbrightness.errors %}<br />{{ form.lastbrightness.errors }}{% endif %}
                </td>
              </tr>
            {% endifequal %}
            {% ifequal Messages_available True %}
            <tr>
                <td class="label">
                    Mensajes
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;text-align: center; height: 350px;">


                  <div style="width:100%;">
                        <div id="msgcont" style="width: 100%; margin: 0 auto; padding-bottom:200px;">
                            <div id="msgcont_mymsg" style="width: 49%; height: 200px; float: left; margin: auto;">
                                <span style="font-size: 8pt; text-decoration: underline; color: #666; text-align: center;">
                                    &Uacute;ltimos mensajes del cartel actual:
                                </span>
                                <select id="mymensajes" multiple="multiple" name="mymensajes[]" style="color: #aaa;font-size: 8pt;height: 200px;width: 100%;" />
                                {% if xCartel.getMssgOBJ %}
                                    {% for xMensaje in xCartel.getMssgOBJ %}
                                    <option value="{{ xMensaje.idmessage }}">
                                        {{ xMensaje.contentmessage }}
                                    </option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                                <div id="mymensajes_action" style="display:none;">
                                    <a href="javascript:;" style="color:grey;" id="mymjs_itemup"/>
                                        <img src="{{ item_moveup }}" width="16" height="16" align="left"/>
                                    </a>
                                    <a href="javascript:;" style="color:white;" id="mymjs_itemdown"/>
                                        <img src="{{ item_movedown }}" width="16" height="16" align="left"/>
                                    </a>
                                    <a href="javascript:;" style="color:white; padding:0px; margin: 0px;" id="mymjs_itemdelete"/>
                                        <img src="{{ item_delete }}" width="16" height="16" align="right"/>
                                    </a>
                                </div>
                            </div>

                            <span style="font-size: 8pt; text-decoration: underline; color: #666; text-align: center;">
                                Todos los mensajes:
                            </span>

                            <div id="msgcont_allmsg" style="width: 49%; height: 200px; float:right; ">
                                <select id="allmensajes" multiple="multiple" name="allmensajes[]" style="color: #aaa;font-size: 8pt;height: 200px;width: 100%;" />
                                {% if allMensajes %}
                                    {% for xMensaje in allMensajes %}
                                    <option value="{{ xMensaje.idmessage }}">
                                       {{ xMensaje.contentmessage }}
                                    </option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                                <div id="allmensajes_action" style="display:none;">
                                    <a href="javascript:;" style="padding:0px; margin: 0px;" id="addtocartel"/>
                                        <img src="{{ item_add }}" width="16" height="16" align="left" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span id="msgcontent" style="border: 1px #aaa dashed; background-color: #eee; float:left; padding: 5px; margin-top: 25px; width: 98%; text-align:left; font-size: 8pt;line-height:200%;color: #333;display:none;">
                          <u><b>Contenido</b></u><br><span id="msgcontent_content" style="margin-left: 20px;color:#999; font-style:italic; font-size: 11pt;"></span><br />
                          <u><b>Configuraci&oacute;n</b></u><br><span id="msgcontent_config" style="margin-left: 20px; color: #999; font-style:italic; font-size: 11pt;"></span><br />
                        </span>
                    <div style="display:none;">
                    {{ form.lastmessages }}
                    </div>
                    <div style="bottom:0px;text-align:left;">
                      <div style="width: 100%; text-align:center; margin-top: 20px;">
                        <span style="font-size: 11pt; color: #666; font-weight: bold; text-align:center; ">Paquetes de Mensajes</span><br />
                      </div>
                      {% for idPackage, dictPackage in strAllPackages.items %}

                        {% for xPckg in allPackages %}

                          {% ifequal xPckg.id idPackage %}
                          <label id="pckg{{ idPackage }}"><input type="radio" name="pckg" value="{{ idPackage }}"><span style="font-weight: bold; text-decoration:underline; margin-left: 5px;">{{ xPckg.namepackage }}</span></label><br />
                          {% endifequal %}

                          {% endfor %}

                        {% for idMssg, valueMssg in dictPackage.items %}
                         <p style="margin-left: 10px; font-size: 8pt; color: #aaa; line-height:80%;">{{ forloop.counter }}) {{ valueMssg|truncatechars:80 }}</p>
                        {% endfor%}

                      {% endfor %}
                    </div>
                </td>
            </tr>
            {% endifequal %}
            <tr>
                <td colspan="2" style="text-align: center; width: 100%;" class="label">
                    <div style="margin-left: 5px; padding: 3px; line-height: 100%; width: 97%; font-size: 10pt; align:right; text-align: justify; text-indent: 20px; font-weight: normal;">
                      <img src="{{ warningimg }}" width="32" height="32" align="left" style="margin: 10px;"/>
                      <p style="margin-left: 60px;">
                      Los cambios realizados <b>relacionados con la visualizaci&oacute;n del cartel</b> tendr&aacute;n efecto cuando el cartel <b>complete la respectiva tarea</b>.
                      </p>
                    </div>
                    <div style="text-align: center; margin-top: 10px; padding: 10px;">
                      <button id="submitform" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Guardar cambios</button><br /><br />
                    </div>
                  </td>
            </tr>
        </table>
    </form>
    <div style="text-align: left; margin-top: 10px; padding: 10px;">
      <a href="/sign/view/{{ xCartel.id }}/"/><i class="icon ion-android-arrow-back"></i><span style="margin-left: 10px;">Volver a <b>{{ xCartel.namecartel }}</b></span></a>
    </div>
    <div style="text-align: left; margin-top: 10px; padding: 10px;">
        <a href="/signs/"/><i class="icon ion-navicon-round"></i><span style="margin-left: 10px;">Volver a todos los Carteles</span></a>
    </div>
    <br /><br />
<script>

    $(document).ready(function(){

      {% ifequal Messages_available True %}
        var timeRefresh=1000;
        var allMjs = {};
        var allCfgs = {}
        var allPckgs = {};
        var lastMSG = 0;

        {% for xMessage in allMensajes %}
        allMjs[ {{ xMessage.idmessage }} ] = "{{ xMessage.contentmessage }}";
        allCfgs[ {{ xMessage.idmessage }} ] = "{{ xMessage.getSTRConfig }}" ;
        {% endfor %}

        {% for xPackage in allPackages %}
        allPckgs[ {{ xPackage.id }} ] = "{{ xPackage.messages }}";
        {% endfor %}

        $('#id_namecartel').keyup(function (){
          $("#title_namecartel").text($("#id_namecartel").val());
        });

        $('#mymensajes').change(function () {
            $("#mymensajes_action").show();
        });

        $('#mymensajes').click(function () {
            show_infosign(this.value);
        });

        function updatemjs(mjs){
            $("#id_lastmessages").text(mjs);
        }

        function setPackage(mjs){
          $("#id_lastmessages").text(mjs);
        }

        // Click on Package
        {% for xPackage in allPackages %}
        $('#pckg{{ xPackage.id }}').click(function (event) {
          $('#mymensajes').empty();
          mssgsvals = allPckgs[ {{xPackage.id}} ].split(',');
          $.each( mssgsvals, function( k, v ) {
            $("#mymensajes").append('<option value="'+v+'">' + allMjs[ v ] + '</option>');
          });

          setPackage("{{ xPackage.messages }}");
          });
        {% endfor %}

        // Show info sign in section
            function show_infosign(id){
                $("#msgcontent").show();
                $("#msgcontent_content").text('“ '+allMjs[ id ]+' ”');
                $("#msgcontent_config").text(allCfgs[ id ]);
            }

        // botones allmensajes
            // itemup
            $('#mymjs_itemup').click(function (event) {
                var $selectedvals = $('#mymensajes option:selected')
                if($selectedvals.length){
                    $selectedvals.first().prev().before($selectedvals);
                }
                var values = $.map($('#mymensajes option'), function(e) { return e.value; });
                values.join(',');
                updatemjs(values);
            });

            // itemdown
            $('#mymjs_itemdown').click(function (event) {
                var $selectedvals = $('#mymensajes option:selected')
                if($selectedvals.length){
                    $selectedvals.last().next().after($selectedvals);
                }
                var values = $.map($('#mymensajes option'), function(e) { return e.value; });
                values.join(',');
                updatemjs(values);
            });

            // itemdelete
            $('#mymjs_itemdelete').click(function (event) {
                var selectedvals = $("#mymensajes").val();
                $.each( selectedvals, function( k, v ) {
                    $("#mymensajes option:selected").remove();
                });
                $("#mymensajes option:selected").removeAttr("selected");
                $("#mymensajes_action").hide();
                var values = $.map($('#mymensajes option'), function(e) { return e.value; });
                values.join(',');
                updatemjs(values);
            });

        // lista allmensajes
            // mostrar
            $('#allmensajes').click(function (event) {
                $("#allmensajes_action").show();
            });

            $('#allmensajes').click(function () {
                show_infosign(this.value);
            });

            // botones allmensajes
            $('#addtocartel').click(function (event) {
                var selectedvals = $("#allmensajes").val();
                $.each( selectedvals, function( k, v ) {
                    $("#mymensajes").append('<option value="'+v+'">' + allMjs[ v ] + '</option>');
                });
                var values = $.map($('#mymensajes option'), function(e) { return e.value; });
                values.join(',');
                updatemjs(values);
            });

            //add double
            $('#allmensajes').dblclick(function (event) {
                $('#addtocartel').click();
            });
        {% endifequal %}
    });

</script>

{% endblock %}
