{% load tz %}
{% ifnotequal xCartel.lastlogin None %}
  {{ xCartel.lastlogin|localtime|date:"j M - H:i:s" }}
    <span style="font-size: 10pt; color: #aaa; font-weight: normal; font-size: 10pt; vertical-align: middle;">
        &gt; Hace
        {% for itemtime in "hms" %}
            {% for datediffdef, datediffvalue in xCartel.getElapsedTimeFromLastLogin.items  %}
                {% ifequal datediffdef itemtime %}
                    {% ifnotequal datediffvalue 0 %}
                        {{ datediffvalue }}{{ datediffdef }}
                    {% endifnotequal %}
                {% endifequal %}
            {% endfor %}
        {% endfor %}
      </span>
  {% else %}
    <span style="color: #ccc;font-size:10pt;font-style: italic;">Ninguna.</span>
  {% endifnotequal %}
