{% load static %}
{% static "yes.png" as yesimg %}
{% static "no.png" as noimg %}
<script>
    var colorelapsedtime = "#888888";
    document.getElementById("elapsedtimelogin{{ xCartel.id }}").style.color=colorelapsedtime;
    document.getElementById("taskstodo").style.height="100px";
</script>
<span id="elapsedtimelogin{{ xCartel.id }}" style="font-size: 8pt; color: #888888; font-weight: normal; vertical-align: middle;margin-right: 5px;">
{% if xCartel.lastlogin %}
  &sim;
  {% for itemtime in "Mdhms" %}
      {% for datediffdef, datediffvalue in xCartel.getElapsedTimeFromLastLogin.items  %}
          {% ifequal datediffdef itemtime %}
              {% ifnotequal datediffvalue 0 %}
                  {{ datediffvalue }}{{ datediffdef }}
              {% endifnotequal %}
          {% endifequal %}
      {% endfor %}
  {% endfor %}
</span>
{% ifequal xCartel.getIncompleteTasks True %}
<span style="color: #d66;"><i class="icon ion-close"></i></span>
{% else %}
<span style="color: #6d6;"><i class="icon ion-checkmark-round"></i></span>
{% endifequal %}
{% else %}
<span style="color: #aaa;" />...</span>
{% endif %}
