{% load tz %}

{% load static %}
{% static "ledgreen.png" as ledgreen %}
{% static "ledred.png" as ledred %}
{% static "ledoff.png" as ledoff %}
{% static "clockred.png" as clockredimg %}
{% static "termometer.png" as termometerimg %}


{% ifnotequal xCartel.lastreading None %}
    <center>
        <table style="background-color: #fff">
            <tr>
                <td>
                    <table> 
                        <tr>
                            <td height="100%" style="border: 1px #ddd dotted; text-align: center; width: 220px;">
                                <p style="font-weight: bold;">
                                    HORA
                                </p>
                                <img src="{{ clockredimg }}" width="64" height="64" align="left" style="margin-right: -10px;"/>
                                <p style="font-size: 30pt; font-weight: bold; font-family: Courier New; color: #b00; margin-bottom: 0px;">
                                    {% ifequal xCartel.lasttime None %}
                                        --:--<span style="font-size: 12pt; vertical-align: super;">--</span>
                                    {% else %}
                                        {{ xCartel.lasttime|date:"H:i" }}<span style="font-size: 12pt; vertical-align: super;">{{ xCartel.lasttime|date:"s" }}</span>
                                    {% endifequal %}
                                </p>
                            </td>
                            <td height="100%" style="border: 1px #ddd dotted; text-align: center; width: 220px;">
                                <p style="font-weight: bold;">
                                    TEMPERATURA
                                </p>
                                <img src="{{ termometerimg }}" width="64" height="64" align="left" style="margin-right: -10px;"/>
                                <p style="font-size: 30pt; font-weight: bold; font-family: Courier New; color: #b00; margin-bottom: 0px;">
                                    {% ifequal xCartel.lasttemp None %}
                                        00°C
                                    {% else %}
                                        {{ xCartel.lasttemp }}°C
                                    {% endifequal %}
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
        <p style="font-size: 10pt; text-align: left; margin-top: 10px; color: #666;"><b>&raquo; ESTADO &laquo;</b></p>
        {% for bitstate, valuestate in xCartel.getStatusCartel.items %}
            {% for bitstatusdef, defstatus in xCartel.getDefStatus.items %}
              {% ifequal bitstatusdef bitstate %}
                {% ifnotequal defstatus "INHABILITADO" %}
                  {% ifequal valuestate True %}
                    <i class="icon ion-ios7-circle-filled" style="color: #4d4; margin-left: 30px; font-size: 14pt;"></i>
                  {% else %}
                    <i class="icon ion-ios7-circle-outline" style="color: #444; font-weight: bold; margin-left: 30px; font-size: 14pt;"></i>
                  {% endifequal %}
                  <span style="text-transform: uppercase; font-size: 12pt; color: #999;font-weight: bold;" />{{ defstatus }}</span><br />
                  {% endifnotequal %}
              {% endifequal %}
            {% endfor %}
        {% endfor %}
        {% for biterror,valueerror in xCartel.getErrorsCartel.items %}
            {% for biterrordef, deferror in xCartel.getDefErrors.items %}
              {% ifequal biterrordef biterror %}
                {% ifnotequal deferror "INHABILITADO" %}
                  {% ifequal valueerror True %}
                    <i class="icon ion-close-circled" style="color: #d44; margin-left: 30px; font-size: 14pt;"></i>
                  {% else %}
                    <i class="icon ion-checkmark-circled" style="color: #4d4; margin-left: 30px; font-size: 14pt;"></i>
                  {% endifequal %}
                  <span style="text-transform: uppercase; font-size: 12pt; color: #666;font-weight: bold;" />{{ deferror }}</span><br />
                {% endifnotequal %}
              {% endifequal %}
            {% endfor %}
            {% endfor %}
{% endifnotequal %}
