{% extends "base.html" %}
{% load tz %}
{% block title %} Cartel vista {% endblock %}

{% block content %}

{% load static %}
{% static "warning.png" as warningimg %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/signs/" />Carteles</a> > {{ xCartel.namecartel | truncatechars:32 }}</h1>
        </div>
    </div>

    <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

        <tr style="text-align: center;">
          <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;" colspan="2">
                <span style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
                    {{ xCartel.namecartel }}
                </span>
            </td>
        </tr>

        <tr>
            <td class="label" width="200">
                &Uacute;ltima conexi&oacute;n
            </td>
            <td class="dataright" width="500"style="border-right: 1px #ccc solid; color: #333; font-size: 14pt;">
                <div id="lastactdiv">
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                &Uacute;ltima IP
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
                <div id="lastipdiv">
                </div>
            </td>
        </tr>
        <tr>
            <td class="label" style="vertical-align: top; padding-top: 10px;">
                Estado
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid; color: #999; font-family: 'Ti1mes New Roman'; text-align: left; font-size: 12pt;">
                <div id="statusboxdiv">
                </div>
                {% if xCartel.lastreading != None %}
                {% if xCartel.lasterrors > 0 %}
                  <a id="cleanerrors" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 0px; border: 1px solid #333; padding: 3px; border-radius: 5px; " class="foo tip" data-tip="Borra indicadores de error del cartel"/>
                      <i class="icon ion-close-round"></i>
                      <span style="">Limpiar errores</span>
                  </a>
                {% endif %}
                <a id="getstatus" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; " class="foo tip" data-tip="Solicita el estado al cartel"/>
                  <i class="icon ion-radio-waves"></i>
                  <span style="">Solicitar estado</span>
                </a>
                <a id="synctime" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; " class="foo tip" data-tip="Sincroniza la hora del cartel con la hora actual del sistema"/>
                  <i class="icon ion-android-clock"></i>
                  <span style="">Sincronizar hora</span>
                </a>
                <br /><br />
                <div style="border: 1px solid #ddd; background-color: #eee; padding: 3px;">
                  <span style="color: #555; font-weight: bold; font-family: 'Courier New'; font-size: 10pt;">
                    <span style="font-weight: normal;"><img src="{{ warningimg }}" width="32" height="32" align="left" style="margin: 10px 20px 10px 5px;"><span style="text-decoration: underline;" />Fecha de lectura de estado:</span></span><br />

                    {{ xCartel.lastreading|localtime|date:"j M H:i:s" }}
                    </span>
                    {% if xCartel.getElapsedTimeFromLastReading %}
                      <span style="font-size: 10pt; font-weight: normal; font-family: 'Courier New'; font-size: 10pt; vertical-align: middle; color: #aaa;">
                      &sim;
                      {% for itemtime in "hm" %}
                        {% for datediffdef, datediffvalue in xCartel.getElapsedTimeFromLastReading.items  %}
                          {% ifequal datediffdef itemtime %}
                            {% ifnotequal datediffvalue 0 %}
                              {{ datediffvalue }}{{ datediffdef }}
                            {% endifnotequal %}
                          {% endifequal %}
                        {% endfor %}
                      {% endfor %}
                      </span>
                    {% endif %}
                  </span>
                </div>
              {% else %}
                <span style="color: #e33; font-weight: bold; font-size: 10pt; color: #666;">Hasta el momento no se ha registrado lectura de estado de este cartel.</span>
                <a id="getstatus" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; " class="foo tip" data-tip="Solicita el estado al cartel"/>
                  <span style="">Solicitar estado</span>
                </a>
              {% endif %}
            </td>
        </tr>
        {% ifequal showBrightness True %}
        <tr>
            <td class="label">
                Brillo
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              {% if xCartel.lastbrightness %}{{ xCartel.lastbrightness }}{% else %}<span style="color: #ccc;font-size:10pt;font-style: italic;">No se ha configurado.</span>{% endif %}
            </td>
        </tr>
        {% endifequal %}
        <tr>
            <td class="label">
                Broadcasting
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              {% if xCartel.lastbroadcasting %}{{ xCartel.lastbroadcasting }}{% else %}<span style="color: #ccc;font-size:10pt;font-style: italic;">No se ha configurado.</span>{% endif %}
              {% ifequal broadcastingStat True %}
                <br />
                <a id="broadcastingoff" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; margin-right: 10px;" class="foo tip" data-tip="Desactiva el broadcasting, mostrando los mensajes por defecto del cartel"/>
                    <i class="icon ion-close-circled"></i>
                    <span style="">Desactivar broadcasting</span>
                </a>
                <a id="broadcastingon" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; margin-right: 10px;" class="foo tip" data-tip="Reenvia el texto actual configurado para el cartel como broadcasting"/>
                    <i class="icon ion-arrow-return-right"></i>
                    <span style="">Reactivar broadcasting</span>
                </a>
                {% else %}
                {% if xCartel.lastbroadcasting %}
                  <br />
                  <a id="broadcastingon" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; margin-right: 10px;" class="foo tip" data-tip="Envia el texto actual configurado para el cartel como broadcasting"/>
                      <i class="icon ion-arrow-right-b"></i>
                      <span style="">Activar broadcasting</span>
                  </a>
                {% endif %}
              {% endifequal %}
            </td>
        </tr>
        {% ifequal Messages_available True %}
        <tr>
            <td class="label">
                Mensajes
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;text-align: left;">
                {% if xCartel.lastmessages %}
                <div id="msgcont_mymsg" style="">
                    <span style="font-size: 10pt; color: #666; text-align: center;">
                        {% if xCartel.getMssgOBJ %}
                            {% for xMensaje in xCartel.getMssgOBJ %}
                            <p style="text-align: left;"><span style="font-size: 10pt; margin-left: 10px; color: #ccc;">{{ forloop.counter }} &raquo; </span>
                                <span style="margin-left: 5px; font-size: 12pt; font-style: italic; font-weight: bold;">{{ xMensaje.contentmessage|truncatechars:40 }}</span><br />
                                <span style="margin-left: 60px; font-size: 8pt; color: #bbb;">{% if xMensaje.getSTRConfig %}&#9492;&rsaquo;&nbsp;&nbsp;{{ xMensaje.getSTRConfig }}{% endif %}</span><br />
                            </p>
                            {% endfor %}
                        {% endif %}
                      </span>
                </div>
                <a id="remssg" href="javascript:;" style="color: #333; font-size: 11px; background-color: #eee;margin-left: 6px; border: 1px solid #333; padding: 3px; border-radius: 5px; " class="foo tip" data-tip="Enviar mensajes al cartel"/>
                  <i class="icon ion-arrow-return-right"></i>
                  <span style="">Enviar mensajes</span>
                </a>
                {% else %}
                <span style="color: #ccc;font-size:10pt;font-style: italic;">No se han configurado.</span>
                {% endif %}
            </td>
        </tr>
        {% endifequal %}
        <tr>
            <td class="label">
                Administraci&oacute;n
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              <div style="text-align: left; float:left; padding: 10px; font-weight: normal; line-height: 150%;">
                  <a id="softreset" href="javascript:;" style="color: #999;" class="foo tip" data-tip="Apagar y prender el cartel"/>
                    <i class="icon ion-power"></i>
                    <span style="">Reiniciar cartel</span>
                  </a><br />

                  <a id="hardreset" href="javascript:;" style="color: #ccc;" class="foo tip" data-tip="Reinicia el cartel a los valores por defecto de f&aacute;brica"/>
                    <i class="icon ion-home"></i>
                    <span style="">Reiniciar cartel a f&aacute;brica</span>
                  </a><br />

                </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                Tareas pendientes
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
              <div style="text-alddign: left; float:left; padding: 10px; font-weight: normal; line-height: 150%; width: 320px;">
                {% if not allTasks %}
                  <span style="font-size: 12pt; color: #3c3;"><i class="icon ion-checkmark-round"></i> No hay tareas pendientes para el cartel actual.</span>
                {% else %}
                  <span style="font-size: 12pt; color: #c33;"><i class="icon ion-close-round"></i> Hay tareas pendientes para el cartel actual.</span><br /><br />
                  {% for xTask in allTasks %}
                    {% if xTask.sign == xCartel %}
                    {% if xTask.status == 'i' %}
                    {% if xTask.todate %}
                      <div style="border: 1px dashed #ccc; padding: 2px 5px 0px 5px; width: 140%; background-color: #f4f4f4; border-radius: 5px; margin: 3px; " />
                    {% else%}
                      <div style="border: 1px solid #ccc; padding: 2px 5px 0px 5px; width: 140%; background-color: #f4f4f4; border-radius: 5px; margin: 3px; " />
                    {% endif %}
                      <span style="font-size: 14pt; margin-left: 5px;">
                        <a href="/sign/edit/{{ xCartel.id }}/deletetask/{{ xTask.id }}">
                          <i class="icon ion-close-round" style="font-size: 18pt;"></i>
                        </a>
                      </span>
                      <span style="font-size: 16pt; color: #b99;"> {% for xValTypeTask, xDescTypeTask in descripTasks.items %}{% ifequal xValTypeTask xTask.task %}{{ xDescTypeTask }}{% endifequal %}{% endfor %}</span>
                      <hr style="color: #ccc;"></hr>
                      <font style="font-size:10pt; color: #999;" /><u>Agregada:</u> {{ xTask.datejoin|date:"d M H:i" }}</font>
                      {% if xTask.todate %}
                        <br />
                        <font style="font-size:10pt; color: #999;" /><u>Programada para:</u> {{ xTask.todate|date:"d M H:i" }}</font>
                      {% endif %}
                      {% if xTask.getContent %}
                        <br />
                        <font style="font-size:10pt; color: #999; width:200px;" /><u>Contenido:</u> {{ xTask.getContent }}</font>
                        {% endif %}
                        {{ xCartel.getContent }}
                    </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <br />
                  <a id="delalltasks" href="javascript:;" class="foo tip" data-tip="Borrar todas las tareas del cartel" ><i class="icon ion-trash-b"></i> Borrar todas</a>
                  <br />
                {% endif %}
              </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; width: 100%;" class="label">
                <div style="text-align: center; padding: 10px; font-weight: normal; line-height: 150%;">
                  <a href="/sign/edit/{{ xCartel.id }}/" style=""/>
                    <i class="icon ion-wrench"></i>
                    <span style="">Editar Cartel</span>
                  </a><br />
                  <a href="/sign/delete/{{ xCartel.id }}/" style=""/>
                    <i class="icon ion-close-round"></i>
                    <span style="">Eliminar Cartel</span>
                  </a><br />
                  {% ifequal Stats_available True %}
                  <a href="/sign/stats/{{ xCartel.id }}/" style=""/>
                    <i class="icon ion-stats-bars"></i>
                    <span style="">Ver estad&iacute;sticas</span>
                  </a>
                  {% endifequal %}
                </div>
            </td>
        </tr>
      </table>
      <div style="text-align: left; margin-top: 10px; padding: 10px;">
          <a href="/signs/"/><i class="icon ion-navicon-round"></i><span style="margin-left: 10px;">Volver a todos los Carteles</span></a>
      </div>
      <br /><br />
      <script>
    $(document).ready(function(){

        $('.tip').tipr({
          'speed': 500,
          'mode': 'bottom',
        });

        $("#lastipdiv").load('/sign/view/{{ xCartel.id }}/lastip/');
        $("#statusboxdiv").load('/sign/view/{{ xCartel.id }}/statusbox/');
        $("#lastactdiv").load('/sign/view/{{ xCartel.id }}/lastact/');

        setInterval(function(){
          //  location.reload();
          $("#lastipdiv").load('/sign/view/{{ xCartel.id }}/lastip/');
          $("#statusboxdiv").load('/sign/view/{{ xCartel.id }}/statusbox/');
          $("#lastactdiv").load('/sign/view/{{ xCartel.id }}/lastact/');
        }, 10000);

        $('#cleanerrors').click(function (){
          var result_delete = confirm("¿Está seguro que desea borrar los indicadores de error del cartel?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/cce/";
            $(location).attr('href',urltogo);
          }
        });
        $('#synctime').click(function (){
          var result_delete = confirm("¿Está seguro que desea sincronizar la hora del cartel con la hora del sistema?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/csh/";
            $(location).attr('href',urltogo);
          }
        });
        $('#broadcastingon').click(function (){
          var result_delete = confirm("¿Está seguro que desea activar el broadcasting mostrando el mensaje configurado?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/b1/";
            $(location).attr('href',urltogo);
          }
        });
        $('#getstatus').click(function (){
          var result_delete = confirm("¿Está seguro que desea solicitar estado al cartel?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/r/";
            $(location).attr('href',urltogo);
          }
        });
        $('#broadcastingoff').click(function (){
          var result_delete = confirm("¿Está seguro que desea desactivar el broadcasting mostrando los mensajes configurados anteriormente?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/b0/";
            $(location).attr('href',urltogo);
          }
        });
        $('#softreset').click(function (){
          var result_delete = confirm("¿Está seguro que desea reiniciar el cartel?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/csr/";
            $(location).attr('href',urltogo);
          }
        });
        $('#remssg').click(function (){
          var result_delete = confirm("¿Está seguro que desea enviar los mensajes al cartel?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/m/";
            $(location).attr('href',urltogo);
          }
        });
        $('#delalltasks').click(function (){
          var result_delete = confirm("¿Está seguro que desea borrar todas las tareas del cartel actual?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/deletetasks/";
            $(location).attr('href',urltogo);
          }
        });
        $('#hardreset').click(function (){
          var result_delete = confirm("¿Está seguro que desea reiniciar el cartel a su estado inicial de fábrica?");
          if(result_delete==true){
            var urltogo = "/sign/edit/{{ xCartel.id }}/addtask/chr/";
            $(location).attr('href',urltogo);
          }
        });

    });

</script>

{% endblock %}
