{% extends "base.html" %}
{% load tz %}
{% block title %} Log {% endblock %}

{% block content %}

<script type="javascript" />
  function zeroFill(number, width){
    width -= number.toString().length;
    if (width > 0){
      return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
    }
    return number + "";
}
</script>

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Historial</h1>
        </div>
    </div>

    <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

        <tr style="text-align: center;">
          <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;" colspan="2">
                <span style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
                    Historial
                </span>
            </td>
        </tr>

        <tr>
            <td class="label" width="200">
                Fecha
            </td>
            <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 14pt;">
              <div id="datepicker" style="width:500px"></div>
              <div style="width: 500px; text-align: center;" />
                <a href="/log/{{ dateToday }}" style="font-size: 10pt; color: #e55; font-weight: bold;" />[Ir a Hoy]</a>
              </div>
            </td>
        </tr>
        <tr>
            <td class="label">
                Historiales
            </td>
            <td class="dataright" style="border-right: 1px #ccc solid;">
            {% if filesToList %}
              {% for idLog in filesToList %}
                {% for xCartel in allCarteles %}
                  {% ifequal xCartel.id idLog %}
                    <a style="margin-left: 15px;" href="/log/{{ dateGetStr }}/{{ xCartel.id }}/#endoflog">{{ xCartel.id }} - {{ xCartel.namecartel }}</a><br />
                  {% endifequal %}
                {% endfor  %}
              {% endfor %}
            {% else %}
              <font style="font-size: 12pt; color: #999;" />No hay historiales disponibles para la fecha elegida.</font>
            {% endif %}
            </td>
        </tr>
        {% if contentFile %}
          <tr>
            <td colspan="2" style="text-align: center; width: 100%;" class="label">
                <div style="text-align: center; padding: 10px; font-weight: normal; line-height: 100%;">
                    <span style="color: #666; font-size: 12pt; font-weight: bold;">{{ nameCartel }} - {{ dday }}/{{ dmonth }}/{{ dyear }}</span>
                </div>
                <div id="logfile" style="text-align: left; padding: 10px; font-weight: normal; line-height: 100%; color: #666; font-size: 10pt; font-family: 'Courier New'; background-color: #fff; border: 1px solid #aaa; line-height: 150%;">
                    {% for xLineTime, xLineDescr in contentFile.items %}
                      <p><font style="font-weight: bold;">[{{ xLineTime }}]</font><br /><font style="color: #999; margin-left: 10px;">{{ xLineDescr }}</font></p>
                    {% endfor %}
                </div>
              <div style="margin: 10px;" ><a href="javascript:location.reload();"><i class="icon ion-loop"></i>Actualizar p&aacute;gina</a></div>
            </td>
          </tr>
        {% endif %}
      </table>
      <div style="text-align: left; margin-top: 10px; padding: 10px;" id="endoflog">
      </div>
      <br /><br />
      <script>

    var calendarPicker = $("#datepicker").calendarPicker({
      monthNames:["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
      dayNames: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
      useWheel:true,
      callbackDelay:10000,
      years:1,
      months:3,
      days:5,
      showDayArrows:false,
      callback:function(cal) {
      var pathdate = "/log/" + cal.currentDate.getFullYear() + "/" + zeroFill(cal.currentDate.getMonth() + 1,2) + "/" + zeroFill(cal.currentDate.getDate(),2) + "{% if dsign %}/{{ dsign }}/#endoflog{% endif %}";
      $(location).attr('href',pathdate);
      }});

    $( document ).ready(function() {
      calendarPicker.changeDate(new Date("{{ dyear }}/{{ dmonth }}/{{ dday }}"));
    });

</script>

{% endblock %}
