{% extends "base.html" %}

{% block title %} Mensaje nuevo{% endblock %}

{% block content %}

{% load static %}
{% load tz %}
{% static "information.png" as informationimg %}
{% static "warning.png" as warningimg %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/messages/" />Mensajes</a> > Mensaje nuevo</h1>
        </div>
    </div>

    <form action="." method="POST">
    {% csrf_token %}
        <table style="margin-top: 30px; margin-left: 30px; width: 700px;">
            <tr><td colspan="2" class="title" style="border-bottom: 1px #ccc solid;">&raquo; Mensaje nuevo &laquo;</td></tr>
            <tr>
                <td class="label">
                    Contenido mensaje
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                  {{ form.contentmessage }}
                    <div id="contentmessage_chars" style="font-size: 8pt; color: #a66; margin-top: -5px; margin-bottom: -5px; margin-left: 10px;">
                        <span id="contentmessage_charsremaining"></span>
                    </div>
                    {% if form_errors.contentmessage %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.contentmessage.as_text }}
                    </span>
                    {% endif %}
                    <span style="font-size: 8pt; color: #999;">
                      Ingrese solo may&uacute;scula, n&uacute;meros, y los caracteres . - °
                    </span>
                </td>
            </tr>
            {% ifequal showTiposcroll True %}
            <tr>
                <td class="label">
                    Scroll
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.typescrolling }}
                    {% if form_errors.typescrolling %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.typescrolling.as_text }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endifequal %}
            {% ifequal showTiempomuestra True %}
            <tr>
                <td class="label">
                    Tiempo
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.timemessage }}
                    {% if form_errors.timemessage %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.timemessage.as_text }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endifequal %}
            {% ifequal showTipofont True %}
            <tr>
                <td class="label" style="vertical-align: top; padding-top: 10px;">
                    Fuente
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.typefont }}
                    {% if form_errors.typefont %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.typefont.as_text }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endifequal %}
            <tr>
              <td colspan="2" colspan="2" style="text-align: center; width: 100%;" class="label">
                <div style="text-align: center; margin-top: 10px; padding: 10px;">
                  <button id="submitmessage" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Crear mensaje</button>
                </div>

              </td>
            </tr>

          </table>

        <div style="text-align: left; margin-top: 10px; padding: 10px;">
            <a href="/messages/"/><i class="icon ion-android-arrow-back"></i><span style="margin-left: 10px;">Volver a todos los mensajes</span></a>
        </div>

    </form>

    <script>

      $(document).ready(function(){

        $("#contentmessage_charsremaining").text($("#id_contentmessage").val().length+"/"+$("#id_contentmessage").attr("maxlength")+" caracteres");

        $('#id_contentmessage').keyup(function () {
            $("#contentmessage_charsremaining").text($(this).val().length+"/"+$(this).attr("maxlength")+" caracteres");
          });

        $("#id_contentmessage").alphanum({
          allow: '{{ charsAvaible }}',
          disallow: '¿¡?!´¨·',
          forceUpper: true,
        });

        $("#id_typescrolling option").filter(function() {
          return $(this).text() == "{{ defaultTiposcroll }}";
        }).prop('selected', true);

        $("#id_timemessage option").filter(function() {
          return $(this).text() == "{{ defaultTiempomuestra }}";
        }).prop('selected', true);

        $("#id_typefont option").filter(function() {
          return $(this).text() == "{{ defaultTipofont }}";
        }).prop('selected', true);
      });

    </script>

    {% endblock %}
