{% extends "base.html" %}

{% block title %} Editar Mensaje {% endblock %}

{% block content %}

{% load static %}
{% load tz %}
{% static "information.png" as informationimg %}
{% static "warning.png" as warningimg %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > <a href="/messages/" />Mensajes</a> > Editar mensaje</h1>
        </div>
    </div>

    <form action="." method="POST">
        {% csrf_token %}
        {{ form.idmessage }}
        <table style="margin-top: 30px; margin-left: 30px; width: 700px;">
            <tr><td colspan="2" class="title" style="border-bottom: 1px #ccc solid;">&raquo; Editar mensaje &laquo;</td></tr>
            <tr>
                <td class="label">
                    Contenido mensaje
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                  {{ form.contentmessage }} {% if form.contentmessage.errors %}<br />{{ form.contentmessage.errors }}{% endif %}
                  <div id="contentmessage_chars" style="font-size: 8pt; color: #a66; margin-top: -5px; margin-bottom: -5px; margin-left: 10px;">
                    <span id="contentmessage_charsremaining"></span>
                  </div>
                  <span style="font-size: 8pt; color: #999;">
                    Ingrese solo may&uacute;scula, n&uacute;meros, y los caracteres . - °
                  </span>
                </td>
            </tr>
            {% ifequal showTiposcroll True %}
            <tr>
                <td class="label">
                    Scroll
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.typescrolling }}
                    {% if form_errors.typescrolling %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.typescrolling.as_text }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endifequal %}
            {% ifequal showTiempomuestra True %}
              <tr>
                <td class="label">
                    Tiempo
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.timemessage }}
                    {% if form_errors.timemessage %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.timemessage.as_text }}
                    </span>
                    {% endif %}
                </td>
              </tr>
            {% endifequal %}
            {% ifequal showTipofont True %}
            <tr>
                <td class="label" style="vertical-align: top; padding-top: 10px;">
                    Fuente
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    {{ form.typefont }}
                    {% if form_errors.typefont %}
                    <span style="font-size: 12pt; color: #fff; background-color: #f44; border-radius: 10px; padding: 4px 5px 4px 15px; margin: 0 0 3px 0; display:block;">
                      <i class="icon ion-alert-circled"></i>
                      {{ form_errors.typefont.as_text }}
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endifequal %}
            <tr>
                <td class="label" style="vertical-align: top; padding-top: 10px;">
                </td>
                <td class="dataright" style="border-right: 1px #ccc solid;">
                    <span style="font-size: 10pt; font-weight: normal; font-size: 12pt; vertical-align: middle; color: #aaa;">
                        {% if xMensaje.getCarteles %}
                            {% ifequal xMensaje.getCarteles.items|length 0 %}
                                &Eacute;ste mensaje no est&aacute; configurado en ning&uacute;n cartel...<br/>
                            {% else %}
                                <p style="font-weight: bold; text-decoration: underline;">
                                {% ifequal xMensaje.getCarteles.items|length 1 %}
                                    &Eacute;ste mensaje se encuentra en el siguiente cartel:<br />
                                {% else %}
                                    &Eacute;ste mensaje se encuentra en los siguientes carteles: <br />
                                {% endifequal %}
                                </p>
                                <p style="padding-left: 20px;">
                                    {% for valueCartel, textCartel in xMensaje.getCarteles.items  %}
                                       <a href="/cartel/view/{{ valueCartel }}/">{{ textCartel }}</a><br />
                                    {% endfor %}
                                </p>
                            {% endifequal %}
                        {% else %}
                            &Eacute;ste mensaje no est&aacute; configurado en ning&uacute;n cartel<br/>
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
              <td colspan="2" colspan="2" style="text-align: center; width: 100%;" class="label">

                <div id="divPreview" style="display: none;">
                    <div class="marquee marqueeH" style="background-color: #222; color: #fff;">
                      <p style="color: #fff;">{% now "f" %}</p>
                    </div>
                    <div class="marquee marqueeH" style="background-color: #222;">
                      <p style="color: #6f6;">{{ xMensaje.contentmessage }}</p>
                    </div>
                </div>

                <div style="margin-left: 5px; padding: 3px; line-height: 100%; width: 97%; font-size: 10pt; align:right; text-align: justify; text-indent: 20px; font-weight: normal;">
                  <img src="{{ warningimg }}" width="32" height="32" align="left" style="margin: 10px;"/>
                  <p style="margin-left: 60px;">
                    Tenga en cuenta actualizar los mensajes en los <b>carteles que poseen el mensaje actual</b>, para que dicho cambio surga efecto visual en el cartel.
                  </p>
                </div>
                <div style="text-align: center; margin-top: 10px; padding: 10px;">
                  <button id="submitmessage" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Guardar cambios</button>
                </div>
                <div style="text-align: right;">
                  <a href="#" id="delmessage"><i class="icon ion-ios7-trash-outline" style="font-size: 18pt; margin-right: 10px;"></i><span style="font-weight: normal;">Borrar &eacute;ste mensaje&nbsp;</span></a>
                </div>
              </td>
            </tr>
        </table>
    </form>

    <div style="text-align: left; margin-top: 10px; padding: 10px;">
        <a href="/messages/"/><i class="icon ion-android-arrow-back"></i><span style="margin-left: 10px;">Volver a todos los mensajes</span></a>
    </div>

<script>

  $(document).ready(function(){

    // valores iniciales
    $("#contentmessage_charsremaining").text($("#id_contentmessage").val().length+"/"+$("#id_contentmessage").attr("maxlength")+" caracteres");

    $('#id_contentmessage').keyup(function (){
      $("#contentmessage_charsremaining").text($(this).val().length+"/"+$(this).attr("maxlength")+" caracteres");
    });

    $('#delmessage').click(function (){
      var result_delete = confirm("Está seguro que desea borrar el mensaje actual?");
      if(result_delete==true){
        var urltogo = "/message/delete/{{ xMensaje.idmessage }}/";
        $(location).attr('href',urltogo);
      }
    });

    $("#id_contentmessage").alphanum({
      allow: '{{ charsAvaible }}',
      disallow: '¿¡?!´¨·',
      forceUpper: true,
    });

  });

</script>

{% endblock %}
