{% extends "base.html" %}

{% block title %} Carteles {% endblock %}

{% block content %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a></h1>
        </div>
    </div>

    <table style="margin-top: 20px;" >
        <tr style="text-align: center;">
            <td class="title" style="border: none; ">
                <span style="font-variant:small-caps; font-size: 24pt;font-weight: bold; margin-bottom: 10px;">
                    Error 404 - P&aacute;gina no encontrada
                </span>
            </td>
        </tr>
      </table>
<br />
<br />
{% endblock %}
