{% extends "base.html" %}

{% block title %} Carteles {% endblock %}

{% block content %}

{% load static %}
{% static "statistics.png" as statisticscartel %}
{% static "config.png" as configcartel %}
{% static "remove.png" as removecartel %}
{% static "log.png" as logcartel %}
{% static "carteleria.png" as antenna %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Carteles</h1>
        </div>
    </div>

    <table style="margin-top: 20px;" >
        <tr style="text-align: center;">
            <td class="title" style="border: none; ">
                <span style="font-variant:small-caps; font-size: 24pt;font-weight: bold; margin-bottom: 10px;">
                    Error 404 - P&aacute;gina no encontrada
                </span>
                <br />
                <span style="font-variant:small-caps; font-size: 12pt; font-weight: none; color: #aaa;">
                    Cantidad &raquo;
                </span>
            </td>
        </tr>
      </table>
<br />
<br />
{% endblock %}
