{% load static %}
{% static "whitenoise-50x50.png" as background_tdright %}
{% static "carteleria.png" as favicon %}
{% static "script/jquery-2.1.0.js" as jquerypath %}
{% static "script/jquery-ui.js" as jqueryuipath %}
{% static "script/jquery.calendarPicker.js" as calendarPicker %}
{% static "script/jquery.mousewheel.js" as mouseWheel %}
{% static "footersystem.png" as footerimg %}
{% static "cegaelectronica.png" as cegaelectronica %}
{% static "script/jquery.alphanum.js" as alphanumeric %}
{% static "script/tipr.js" as tipr %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="es" style="height:100%; overflow-y: scroll; overflow-x: hidden;">

    <head>
        <title>{% block title %}{% endblock %}- Carteler&iacute;a</title>
    	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/mycss.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/ionicons.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/tipr.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery.calendarPicker.css" %}" media="screen">
        <link rel="icon" href="{{ favicon }}" type="image/x-icon"/>
        <style type="text/css">
            {% block extrastyle %} {% endblock %}
        </style>
        <script type='text/javascript' src='{{ jquerypath }}'></script>
        <script type='text/javascript' src='{{ jqueryuipath }}'></script>
        <script type="text/javascript" src="{{ alphanumeric }}"></script>
        <script type="text/javascript" src="{{ tipr }}"></script>
        <script type="text/javascript" src="{{ calendarPicker }}"></script>
        <script type="text/javascript" src="{{ mouseWheel }}"></script>
        <script type="text/javascript" src="{{ jsnotifymin }}"></script>
        <script type="text/javascript" src="{{ jsnotify }}"></script>
        <script type="text/javascript">
            {% block scripttt %} {% endblock %}
        </script>
        {% block extraheader %} {% endblock %}
    </head>
    <body topmargin="0" leftmargin="0" style="background-color: #232323; min-height: 100%; height: auto !important; height: 100%;">
      <div style="border: none; min-height: 600px; height: auto !important; height:100%; text-align: center; spacing: 0px; padding: 0px; top: 0px; left: 0px; margin-right: 0px; position: relative;">
        <div style="float: left; height: 100%; position: fixed; top:0px; left: 0px; background-color: #DB1C1C; vertical-align: top; border-right: 1px #111 solid; border-bottom: 1px #111 solid; margin-right: 20px;-moz-box-shadow: 0 0 3px 3px #222; -webkit-box-shadow: 0 0 3px 3px#222; box-shadow: 0 0 3px 3px #222;" class="backg_rombos" >
            {% include 'menunav.html' %}
        </div>
        <div style="border-bottom: 1px #000 solid;clear:left; padding-left: 300px; top: 0px; min-width: 100%; width: auto !important; text-align: left;  min-height: 700px; height: auto !important; height: 100%; margin-left: 0px; height: 100%; background-color: #eee; vertical-align: top; padding-left: 320px; padding-top: 30px; background-image: url({{ background_tdright }});">
            {% block content %} {% endblock %}
        </div>
        <div id="notify_div" class="height: 10px; width: 20px; border-color: #fff;">
        </div>
      </div>
    </body>
</html>


<!-- COPYRIGHT

# Ionicons


The premium icon font for [Ionic Framework](http://ionicframework.com/). Designed by [@helloimben](https://twitter.com/helloimben).

Note: All brand icons are trademarks of their respective owners. The use of these trademarks does not indicate endorsement of the trademark holder by Drifty, nor vice versa.

Visit [ionicons.com](http://ionicons.com) and  check out the search feature, which has keywords identifying common icon names and styles. For example, if you search for “arrow” we call up every icon that could possibly be used as an arrow. We’ve also included each icon’s class name for easy copy/pasting when you’re developing!

We intend for this icon pack to be used with [Ionic](http://ionicframework.com/), but it’s by no means limited to it. Use them wherever you see fit, personal or commercial. They are free to use and licensed under [MIT](http://opensource.org/licenses/MIT).


--!>
