
{% extends "base.html" %}

{% block title %} Carteles {% endblock %}

{% block content %}

{% load static %}
{% static "statistics.png" as statisticscartel %}
{% static "config.png" as configcartel %}
{% static "remove.png" as removecartel %}
{% static "log.png" as logcartel %}
{% static "carteleria.png" as antenna %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Carteles</h1>
        </div>
    </div>

    <table style="margin-top: 20px;" >
        <tr style="text-align: center;">
            <td class="title" style="border: none; ">
                <span style="font-variant:small-caps; font-size: 24pt;font-weight: bold; margin-bottom: 10px;">
                    Carteles
                </span>
                <br />
                <span style="font-variant:small-caps; font-size: 12pt; font-weight: none; color: #aaa;">
                    Cantidad &raquo; {{ countSigns }}
                </span>
            </td>
        </tr>
        {% for xCartel in allCarteles %}
          <tr>
            <script language="javascript" type="text/javascript">
              arrCarteles[arrCarteles.length] = {{xCartel.id}};
            </script>
            <td style="border: 1px #eee solid; margin: 10px; padding: 0px; text-align: center;box-shadow: 0 0 5px 3px #eaeaea;">
              <table>
                <tr style="height: 30px;">
                  <td id="cartel{{ xCartel.id}}" style="width: 430px;font-size: 12pt;font-weight: bold; text-align: left;background-color: #e8e8e8;vertical-align: middle;">
                    <a href="/sign/view/{{ xCartel.id }}/"><i class="icon ion-radio-waves" style="margin-right: 10px; font-size:16pt;"/></i>{{ xCartel.namecartel|truncatechars:50 }}</a>
                  </td>
                  <td id="opt{{ xCartel.id }}" style="background-color: #e8e8e8; width: 80px; vertical-align: middle;">
                    <div style="text-align: right; vertical-align: middle; font-size:11pt;">
                      <a href="/sign/view/{{ xCartel.id }}/" class="foo tip" data-tip="Ver"><i id="opt{{ xCartel.id }}_view" class="icon ion-search" style="display:none;"></i></a>
                      <a href="/sign/edit/{{ xCartel.id }}/" class="foo tip" data-tip="Editar"><i id="opt{{ xCartel.id }}_edit" class="icon ion-wrench" style="display:none;"></i></a>
                      <a href="javascript:;" class="foo tip" data-tip="Eliminar"><i id="opt{{ xCartel.id }}_dele" class="icon ion-android-trash" style="display:none;"></i></a>
                      {% ifequal Stats_available True%}
                        <a href="/sign/stats/{{ xCartel.id }}/" class="foo tip" data-tip="Estad&iacute;sticas"><i id="opt{{ xCartel.id }}_stat" class="icon ion-stats-bars" style="display:none;"></i></a>
                      {% endifequal %}
                    </div>
                  </td>
                  <td id="nonstaticdiv{{ xCartel.id }}" style="width: 130px; border-left: 1px #f3f3f3 dotted; background-color: #e8e8e8; text-align: right; vertical-align: middle;">
                    {% include "cartel/listsign.html" %}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          {% endfor %}
      </table>
<br />
<br />
<script>
    $(document).ready(function(){
        var arrCarteles = new Array();
        var arrDivCarteles = new Array();
        var actCartel;

        setInterval(function(){
            location.reload();
        }, 10000);

        {% for xCartel in allCarteles %}

            $("#opt{{ xCartel.id}}")
              .mouseenter(function() {
                $("#opt{{ xCartel.id }}_view").show();
                $("#opt{{ xCartel.id }}_edit").show();
                {% ifequal Stats_available True %}
                  $("#opt{{ xCartel.id }}_stat").show();
                {% endifequal %}
              })

              .mouseleave(function() {
                $("#opt{{ xCartel.id }}_view").hide();
                $("#opt{{ xCartel.id }}_edit").hide();
                {% ifequal Stats_available True %}
                  $("#opt{{ xCartel.id }}_stat").hide();
                {% endifequal %}
              });

            $("#cartel{{ xCartel.id}}")
              .mouseenter(function() {
                $("#opt{{ xCartel.id }}_view").show();
                $("#opt{{ xCartel.id }}_edit").show();
                {% ifequal Stats_available True %}
                  $("#opt{{ xCartel.id }}_stat").show();
                {% endifequal %}
              })

              .mouseleave(function() {
                $("#opt{{ xCartel.id }}_view").hide();
                $("#opt{{ xCartel.id }}_edit").hide();
                {% ifequal Stats_available True %}
                  $("#opt{{ xCartel.id }}_stat").hide();
                {% endifequal %}
              });

        {% endfor %}

        $('.tip').tipr({
          'speed': 500,
          'mode': 'bottom',
        });

    });
</script>
{% endblock %}
