{% extends "base.html" %}
{% load tz %}
{% block title %} Log {% endblock %}

{% block content %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Configuraci&oacute;n</h1>
        </div>
    </div>
    <form method="POST" action="." />
    {% csrf_token %}
    <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

        <tr style="text-align: center;">
          <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;" colspan="2">
                <span style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
                    Configuraci&oacute;n
                </span>
            </td>
        </tr>

        <tr>
            <td class="label" width="200">
                Usuario
            </td>
            <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
              {{ dataUser.username }}
            </td>
        </tr>
        <tr>
            <td class="label" width="200">
                Nombre
            </td>
            <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
              {{ dataUser.first_name }} {{ dataUser.last_name }}
            </td>
        </tr>
        <tr>
          <td class="label" width="200">
              Usuario desde
            </td>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
            {{ dataUser.date_joined }}
          </td>
        </tr>
        <tr>
          <td class="label" width="200">
              &Uacute;ltima sesi&oacute;n
            </td>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
            {{ dataUser.last_login }}
          </td>
        </tr>
        <tr>
          <td class="label" width="200">
              E-Mail
          </td>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
            <input type="email" name="usr_newemail" placeholder="{{ dataUser.email }}">
            {% if mjeError_reemail %}
            <i class="icon ion-alert-circled" style="margin-right: 10px; color: #d22; font-size:16pt;"/></i><font style="color: #e22; font-size: 10pt; text-align: center;">{{ mjeError_reemail }}</font>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td class="label" width="200">
              Contacto
          </td>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
            <a href="/getcontact/" /> Contactar con Administrador </a>
          </td>
        </tr>
        <tr>
          <td class="label" width="200">
              Nueva Contraseña
            </td>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt;">
            <input type="password" name="usr_newpwd" placeholder="Ingrese su nueva clave">
          </td>
        </tr>
        <tr>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt; text-align: center;" colspan="2">
            <div style="text-align: center; margin-top: 10px; padding: 10px;">
              <input type="password" name="usr_actpwd" placeholder="Ingrese su clave"><br />
              <button id="submitform" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Guardar cambios</button><br /><br />
            </div>
            {% if mjeError_wremail %}
            <i class="icon ion-alert-circled" style="margin-right: 10px; color: #d22; font-size:16pt;"/></i><font style="color: #e22; font-size: 10pt; text-align: center;">{{ mjeError_wremail }}</font>
            {% endif %}
          </td>
        </tr>
      </table>
      <br /><br />
    </form>
{% endblock %}
