{% load static %}
{% static "clock.png" as clockimg %}
{% block scripttt %}
<script language="JavaScript" type="text/javascript">
    function show5(){
        if (!document.layers&&!document.all&&!document.getElementById)
        return

        var Digital=new Date()
        var hours=Digital.getHours()
        var minutes=Digital.getMinutes()
        var seconds=Digital.getSeconds()
        var day=Digital.getDate()
        var intmonth=Digital.getMonth()
        var intweekday = Digital.getDay()

        var month=new Array();
        var weekday=new Array(7);
        weekday[0]="Domingo";
        weekday[1]="Lunes";
        weekday[2]="Martes";
        weekday[3]="Mi&eacute;rcoles";
        weekday[4]="Jueves";
        weekday[5]="Viernes";
        weekday[6]="S&aacute;bado";

        month[0]="Enero";
        month[1]="Febrero";
        month[2]="Marzo";
        month[3]="Abril";
        month[4]="Mayo";
        month[5]="Junio";
        month[6]="Julio";
        month[7]="Agosto";
        month[8]="Septiembre";
        month[9]="Octubre";
        month[10]="Noviembre";
        month[11]="Diciembre";

        if (hours<=9)
            hours="0"+hours
        if (minutes<=9)
            minutes="0"+minutes
        if (seconds<=9)
            seconds="0"+seconds
        myclock=weekday[intweekday]+" "+day+" de "+month[intmonth]+" &#124; "+hours+":"+minutes+"&nbsp;"

        if (document.layers){
            document.layers.liveclock.document.write(myclock)
            document.layers.liveclock.document.close()
        }
        else if (document.all)
        liveclock.innerHTML=myclock
        else if (document.getElementById)
        document.getElementById("liveclock").innerHTML=myclock
        setTimeout("show5()",1000)
         }


        window.onload=show5
        //-->
     </script>

{% endblock %}
<div id="liveclock" class="clockcss"></div>

