{% extends "base.html" %}
{% load static %}

{% block title %} Contacto {% endblock %}

{% block content %}
    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Contacto</h1>
        </div>
    </div>

    <form method="POST" action="." />
    {% csrf_token %}

      <table style="margin-top: 30px; margin-left: 30px; width: 700px;box-shadow: 0 0 5px 3px #ccc;">

        <tr style="text-align: center;">
          <td class="title" style="border: none; padding-bottom: 20px;padding-top: 20px; background-color: rgba(180,180,180,0.5); border:0px #ccc solid;border-bottom:1px #ccc solid;;" colspan="2">
            <span id="title_namecartel" style="font-variant:small-caps; font-size: 16pt;font-weight: bold; margin-bottom: 10px;">
              Contacto con el Administrador
            </span>
          </td>
        </tr>

        <tr>
          <td class="label" width="200">
            Asunto
          </td>
          <td class="dataright" style="border-right: 1px #ccc solid;">
            {{ form.asunto }} {% if form.asunto.errors %}<br />{{ form.asunto.errors }}{% endif %}
          </td>
        </tr>

        <tr>
          <td class="label" width="200">
            Mensaje
          </td>
          <td class="dataright" style="border-right: 1px #ccc solid;">
            {{ form.mensaje }} {% if form.mensaje.errors %}<br />{{ form.mensaje.errors }}{% endif %}
          </td>
        </tr>

        <tr>
          <td class="label" width="200">
            Remitente
          </td>
          <td class="dataright" style="border-right: 1px #ccc solid;">
            <input type="email" name="remitente" placeholder="{{ dataUser.email }}" value="{{ dataUser.email }}">
            {% if form.remitente.errors %}<br />{{ form.remitente.errors }}{% endif %}
          </td>
        </tr>

        <tr>
          <td class="dataright" width="500" style="border-right: 1px #ccc solid; color: #333; font-size: 12pt; text-align: center;" colspan="2">
            <div style="text-align: center; margin-top: 10px; padding: 10px;">
              {% if mjeOK %}
              <i class="icon ion-alert-circled" style="margin-right: 10px; color: #2d2; font-size:16pt;"/></i><font style="color: #2e2; font-size: 10pt; text-align: center;">{{ mjeOK }}</font><br />
              {% endif %}
              {% if mjeError %}
              <i class="icon ion-alert-circled" style="margin-right: 10px; color: #d22; font-size:16pt;"/></i><font style="color: #e22; font-size: 10pt; text-align: center;">{{ mjeError }}</font><br />
              {% endif %}
              <button id="submitform" type="submit" class="button ion-checkmark-round" style="font-size: 12pt; border: 1px #aaa solid; border-radius: 5px; color: #333;"> Enviar correo</button><br /><br />
            </div>
          </td>
        </tr>

      </table>
    </form>

{% endblock %}
