
{% extends "base.html" %}

{% block title %} Carteles {% endblock %}

{% block content %}

{% load static %}
{% static "statistics.png" as statisticscartel %}
{% static "config.png" as configcartel %}
{% static "remove.png" as removecartel %}
{% static "log.png" as logcartel %}
{% static "yes.png" as yesimg %}
{% static "no.png" as noimg %}

    <table style="margin-top: 20px; width: 500px;">
        <tr style="text-align: left; font-weight: bold;">
          <td colspan="5" class="title" style="text-align: left;">Bienvenido {{ actUser.username }}.</td>
        </tr>
        <tr style="text-align: center; font-weight: bold;">
            <td colspan="5" style="border-bottom: 1px #666 solid;">&nbsp;</td>
        </tr>
        <tr>
        </tr>
    </table>    

<br />
<br />

{% endblock %}
