
{% extends "base.html" %}

{% block title %} Mensajes {% endblock %}

{% block content %}

{% load static %}
{% static "view.png" as viewmessage %}
{% static "yes.png" as yesimg %}
{% static "no.png" as noimg %}
{% static "remove.png" as removemessage %}
{% static "config.png" as configmessage %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Mensajes</h1>
        </div>
    </div>
    <br />
    <table style="margin-top: 30px;">
        <tr style="text-align: center; font-weight: bold; height:50px;">
          <td style="text-align: center;" colspan="3">
                <div style="margin-right: 10px; font-size: 14pt;">
                  <i class="icon ion-chatboxes"></i> Mensajes&nbsp;&nbsp;
                  {% ifequal Packages_available True %}
                  <a href="/messages/packages/"><i class="icon ion-ios7-albums-outline"></i> Paquetes</a><br />
                  {% endifequal %}
                </div><br />

                <div style="float: left; margin-right: 10px;">
                    <a href="/message/new/" class="btnMenuHeader" style="color: #666"/>
                        <i class="icon ion-chatbox" style="font-size: 12pt;"></i>
                        Nuevo mensaje
                    </a>
                </div>

            </td>
        </tr>

        <tr style="text-align: center; font-weight: bold;">
            <td colspan="3" class="title" style="width: 700px; border-top:0px;  border-bottom:1px #fff dotted;">&raquo; Mensajes &laquo;</td>
        </tr>
        {% for xMensaje in allMensajes %}
            <tr>
                    <td style="{% if forloop.last %}{% else %}border-bottom: 1px #ccc dotted;{% endif %}padding-top: 10px; font-size: 12pt; vertical-align: middle;"><u style="font-weight: bold;"><a href="/message/edit/{{ xMensaje.idmessage }}/">{{ xMensaje.contentmessage|truncatechars:70 }}</a></u>
                    <div style="border-left: 1px #aaa dotted; font-size: 8pt; vertical-align: normal; color: #666; width: 95%; padding-left: 3px; margin-left: 20px; margin-top: 3px;">
                        {% ifnotequal xMensaje.getCarteles.items|length 0 %}
                            <span style="font-weight: bold; color: #222;">Configurado en {{ xMensaje.getCarteles.items|length }}
                            {% if xMensaje.getCarteles.items|length > 1 %} 
                                carteles
                            {% else %}
                                cartel
                            {% endif %}<br /></span>
                        {% endifnotequal %}
                        {% ifnotequal xMensaje.typescrolling None %}<b>Scroll:</b> {{ xMensaje.typescrolling.idname }}<br />{% endifnotequal %}
                        {% ifnotequal xMensaje.timemessage None %}<b>Tiempo:</b> {{ xMensaje.timemessage.idname }}<br />{% endifnotequal %}
                        {% ifnotequal xMensaje.typefont None %}<b>Fuente:</b> {{ xMensaje.typefont.idname }}<br />{% endifnotequal %}
                        {% ifnotequal xMensaje.descripcion None %}
                            {% ifnotequal xMensaje.descripcion '' %}
                                <b>Descripci&oacute;n:</b> {{ xMensaje.descripcion|truncatechars:50 }}<br />
                            {% endifnotequal %}
                        {% endifnotequal %}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

<br />
<br />

{% endblock %}
