{% load static %}
{% static "headersystem.png" as headerimg %}
{% static "cega.png" as cega %}
{% static "carteleria.png" as carteleria %}

<script>
  function zeroFill( number, width ){
    width -= number.toString().length;
    if ( width > 0 ){
      return new Array( width + (/\./.test( number ) ? 2 : 1) ).join( '0' ) + number;
    }
    return number + "";
  }
</script>

<div style="background-color: rgba(0,0,0,0.7); width:300px; text-align: center; color: #eee; text-shadow: 0.1em 0.1em #333; font-size: 26pt; font-weight: bold; line-height: 100%; font-family: 'Times New Roman'; padding-top: 0px; margin-bottom: 30px; padding-bottom: 50px; padding-right: 10px; margin-top: 0px;-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.7); -moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 0.7); box-shadow:         0px 1px 3px 0px rgba(0, 0, 0, 0.7);">
    {% include 'datetime.html' %}
    <img src="{{ carteleria }}" width="128" height="128" style="margin-bottom: 10px;"/>
    <span class="shadow6" style="font-variant:small-caps;">Carteler&iacute;A</span><br />
</div>
<div style="width:300px; text-align: center; color: #eee; line-height: 100%; padding-top: 0px; font-size: 14pt;">
  <span style="font-weight: normal;"><a href="/config/" style="color: #eee;" /><i class="icon ion-ios7-contact-outline" /></i> {{ request.user.username }} - </a> <a href="/logout/" /><i class="icon ion-log-out" /></i> Salir</a></span>
</div>

<br /><br />
<div width="100%" style="text-align:center">
    <h3 style="font-variant:small-caps;"><a href="/signs/" class="btnMenuPpal" style="color: #666;"  />carteles</a></h3>
    {% ifequal Messages_available True %}
    <h3 style="font-variant:small-caps;"><a href="/messages/" class="btnMenuPpal" style="color: #666;"  />mensajes</a></h3>
    {% endifequal %}
    <h3 style="font-variant:small-caps;"><a href="/tasks/" class="btnMenuPpal" style="color: #aaa;" />tareas</a></h3>
    <h3 style="font-variant:small-caps;"><a href="/log/" class="btnMenuPpal" style="color: #aaa;" id="urllog" />log</a></h3>
</div>

<div style="width: 100%; height: 50px; bottom: 0px; position:absolute; color: #666;">
    <img src="{{ cegaelectronica }}" width="72" height="30" style="margin-bottom: 0px;"/><br />
    {% include 'developer.html' %}
  </div>
  <script>
    document.getElementById("urllog").href="/log/" + (new Date()).getFullYear() + "/" + zeroFill(((new Date()).getMonth() + 1), 2) + "/" + zeroFill((new Date()).getDate(),2);
  </script>

