
{% extends "base.html" %}

{% block title %} Paquetes de Mensajes {% endblock %}

{% block content %}

{% load static %}

    <div class="headerlinks">
        <div class="divheaderlinks">
            <h1 class="header"><a href="/" />Inicio</a> > Paquetes</h1>
        </div>
    </div>
    <br />
    <table style="margin-top: 30px;">
        <tr style="text-align: center; font-weight: bold; height:50px;">
          <td style="text-align: center;" colspan="3">

                <div style="margin-right: 10px; font-size: 14pt;">
                  <a href="/messages/"><i class="icon ion-chatboxes"></i> Mensajes</a>&nbsp;&nbsp;
                  <i class="icon ion-ios7-albums-outline"></i> Paquetes<br />
                </div><br />

                <div style="float: left; margin-right: 10px;">
                    <a href="/messages/package/new/" class="btnMenuHeader" style="color: #666;"/>
                        <i class="icon ion-ios7-albums-outline"></i>
                        Nuevo paquete
                    </a>
                </div>

            </td>
        </tr>

        <tr style="text-align: center; font-weight: bold; ">
            <td colspan="2" class="title" style="width: 700px; border-bottom:1px #fff dotted;">&raquo; Paquetes de Mensajes &laquo;</td>
        </tr>
        {% for xPackage in allPackages %}
            <tr>
                    <td style="{% if forloop.last %}{% else %}border-bottom: 1px #ccc dotted;{% endif %}padding-top: 10px; font-size: 14pt; vertical-align: middle;">&raquo; <u style="font-weight: bold;"><a href="/messages/package/edit/{{ xPackage.id }}/">{{ xPackage.namepackage|truncatechars:50 }}</a></u> &laquo;
                    <div style="font-size: 8pt; vertical-align: normal; color: #666; width: 100%; padding-left: 3px; margin-left: 20px; margin-top: 5px;">
                      {% if xPackage.messages %}
                        <div id="msgcont_mymsg" style="">
                          <span style="font-size: 10pt; color: #666; text-align: center;">
                            {% if xPackage.getMssgOBJ %}
                              {% for xMensaje in xPackage.getMssgOBJ %}
                                <p style="text-align: left;line-height:100%;"><span style="font-size: 10pt; margin-left: 10px; color: #ccc;">{{ forloop.counter }}) </span>
                                <span style="margin-left: 5px; font-size: 12pt; font-style: italic; font-weight: bold;">&ldquo; {{ xMensaje.contentmessage|truncatechars:60 }} &rdquo;</span><br />
                                  <span style="margin-left: 60px; font-size: 8pt; color: #bbb;">{% if xMensaje.getSTRConfig %}&#9492;&rsaquo;&nbsp;&nbsp;{{ xMensaje.getSTRConfig }}{% endif %}</span>
                                </p>
                              {% endfor %}
                            {% endif %}
                          </span>
                        </div>
                      {% else %}
                        <span style="color: #ccc;font-size:10pt;font-style: italic;">No se han configurado mensajes.</span>
                      {% endif %}
 
                    </div>
                </td>
            </tr>
        {% endfor %}
      </table>

<br />
<br />

<script>
    {% for xPackage in allPackages %}
        var button_{{ forloop.counter }} = document.getElementById( "delpackage{{ xPackage.id }}" );
        button_{{ forloop.counter }}.addEventListener( "click", function( ev ) {

            var result_delete = confirm("Está seguro que desea borrar el paquete {{ xPackage.namepackage }}?");
            if(result_delete==true){
                var urltogo = "/messages/package/delete/{{ xPackage.id }}/"; 
                $(location).attr('href',urltogo);
            }

        }, false);
    {% endfor %}
</script>

{% endblock %}
